#game-grid-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 100%;
    width: 100%;

    #game-grid {
        border: 1px solid #929292;
        position: relative;

        .game-grid__row {
            display: flex;
            width: 100%;

            .game-grid__grid {
                border: 1px solid #929292;
                height: calc(var(--grid-size) * 1px);
                width: calc(var(--grid-size) * 1px);

                &.snake-body-segment {
                    background-color: #a0c522;
                }
            }
        }
    }
}
