#menu-container {
    position: fixed;
    inset: 0;
    width: 100%;
    height: 100vh;
    z-index: 2;
    transition: opacity 1.25s linear;
    background-color: #ffffff;

    &.menu-close {
        opacity: 0;
        pointer-events: none;
    }

    #menu-container__inner-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        height: 100%;
        max-width: 500px;
        margin: 0 auto;
        position: relative;

        #menu-container__inner-container__snake-game-logo {
            display: block;
            width: 70%;
            margin: 0 auto;
        }

        #menu-container__inner-container__title {
            color: #655050;
            text-align: center;
        }

        #menu-container__inner-container__credit {
            position: absolute;
            bottom: 2.5%;
            left: 50%;
            transform: translateX(-50%);
            width: fit-content;
            background-color: #dddddd;
            font-weight: 600;
            padding: 0.5rem 1rem;
            border-radius: 50rem;

            a {
                text-decoration: underline;
                font-weight: 800;
            }
        }
    }
}
