.button {
    padding: 0.5rem 1rem;
    background-color: #c1fc6d;
    color: #000000;

    &:hover {
        background-color: #ceff89;
    }

    &:active {
        background-color: #a1d45a;
    }
}