:root {
  --font: 'Turret Road', sans-serif;
}

*, *::after, *::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: var(--font);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button {
  outline: 0;
  border: 0;
  background-color: unset;
  cursor: pointer;
  font-size: inherit;
  font-family: inherit;
  font-weight: 600;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}